.infoBox {
  padding: 24px 32px;
  border-radius: 16px;
  background-color: white;
}

.fontSize {
  font-size: 1.6rem;
}

.previewBox {
  background-color: white;
  border-radius: 16px;
  padding: 44px 90px;
}

.content {
  width: 80%;
}

.statusWidth {
  width: 135px;
}
