@import "../../../../../theme/variables.module";

.layout {
  .topBox {
    border-radius: 16px;
    background-color: white;
    padding: 30px;
  }
}

.resetMeetingModal {
  .right {
    width: 290px;
  }
}
