@import '../../../../theme/variables.module';

.page {
  .searchInput {
    border-radius: 25px;
    background-color: #f1f5f9;
    width: 350px;

    > input {
      background-color: #f1f5f9;
    }

    :global .ant-input-prefix {
      color: #a0a4b6;
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .sortSelect {
    width: 200px;
    height: 40px;
    :global .ant-select-selector {
      border-radius: 8px;
      border: none !important;
      background-color: #f7f8f7;
    }
  }
  .sortCompanySelect {
    width: 250px;

    :global .ant-select-selector {
      border-radius: 8px;
      border: none !important;
      background-color: #f7f8f7;
    }
  }
  .userActionSelect {
    width: 200px;
    height: 40px;
    :global .ant-select-selector {
      border-radius: 8px;
      border: none !important;
      background-color: #f7f8f7;
      padding: 10px 16px !important;
    }
  }

  .customTable {
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 0px #e8eaf4;
    background-color: white;

    .statusCell {
      width: 120px;
      justify-content: center;
    }

    .recordHeader {
      padding: 0 32px;
    }

    .recordItem {
      background: #f6f7fb;
      border-radius: 15px;
      height: 76px;
      padding: 0 32px;
      align-items: center;
      display: flex;
    }
  }
}
.optionButton {
  font-size: 20px;
  color: $gray-text;
}

.statusWidth {
  width: 170px;
}
.user {
  color: #005f73;
}

.filterIcon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #f7f8f7;
}
.filterActive {
  background-color: #cfe493;
}

.filterIconSize {
  height: 12px !important;
  width: 20px !important;
}

.clearBtn {
  height: 39px;
  border: 2px solid #eceff2;
  border-radius: 8px;
  padding: 10px 16px;
  color: #a0a4b6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.applyBtn {
  height: 39px;
  background: #9fc33c;
  border-radius: 8px;
  padding: 10px 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
