.breadcrumbs {
  padding: 1.25rem;
  background: #fff;
  border-radius: 62.4375rem;
  display: inline-block;
}

.text {
  color: #344054;
  font-family: var(--font-mulish);
  font-weight: 400;
}

.link {
  text-decoration: none;
}