.setupModal {
  width: 100vw !important;
  max-width: 100%;
  :global .ant-modal-content {
    border-radius: 0px;
  }
}
.size {
  height: 100vh;
  text-align: center;
  margin: auto;
  padding: 60px 125px;
}
